* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.wrapper {
  min-height: 100vh;
  background-color: #f4f4f4;
}


.navbar {
  background-color: #222;
  padding: 15px;
  display: flex;
  gap: 20px;
}


.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.link:hover {
  color: #00bcd4;
}

.container {
  padding: 30px;
}
